doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style.
      body {
      padding-top: 50px;
      padding-bottom: 20px;
      }
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/main.css')
    //if lt IE 9
      script.
        window.html5 || document.write('<script src="vendor/html5shiv.js"><\\/script>')
  body
    .container
      form.col-md-6(action='/admin/set', method='post')
        each widget, widget_name in widgets
          h2= widget_name
          fieldset(name=widget_name)
            each val, index in widget
              .form-group
              label.control-label(for=widget_name+'['+index+']')=index
              case val
                when "boolean"
                  select.form-control(name=widget_name+'['+index+']', value=locals.data[widget_name][index])
                    option(value='true', selected=locals.data[widget_name][index] === "true" ? "selected" : undefined) true
                    option(value='false', selected=locals.data[widget_name][index] === "false" ? "selected" : undefined) false
                    
                when "number"
                  input.form-control(name=widget_name+'['+index+']', type="number", value=locals.data[widget_name][index])
                when "text"
                  input.form-control(name=widget_name+'['+index+']', value=locals.data[widget_name][index])
          hr
        button.btn.btn-primary(type='submit') Update
    script.
      window.jQuery || document.write('<script src="vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='vendor/bootstrap.min.js')
