extends admin_layout

block widget
	form(action='/admin/general/set', method='post')
		fieldset(name="color1")
			label.control-label Primary Color
			input.form-control(name="color1", value=config.general.color1)
		fieldset(name="color2")
			label.control-label Secondary Color
			input.form-control(name="color2", value=config.general.color2)
		fieldset(name="color3")
			label.control-label Background Color (overwrites transparency setting)
			input.form-control(name="color3", value=config.general.color3)
		fieldset(name="color4")
			label.control-label Text Color
			input.form-control(name="color4", value=config.general.color4)

		+select('general', 'transparent_elements', 'Transparent Elements', config.general.transparent_elements,
			{
				"true" : { "name" : "On", "value" : "true" },
			 	"false" : { "name" : "Off", "value" : "false" }
			})

		+select('general', 'fonts', 'Font set (INOP)', config.general.fonts,
			{
				"modern" : { "name" : "Modern", "value" : "modern" },
			 	"techy" : { "name" : "Techy", "value" : "techy" },
			 	"classical" : { "name" : "Classical", "value" : "classical" }
			})

		+select('general', 'shadows', 'Shadows', config.general.shadows,
			{
				"true" : { "name" : "On", "value" : "true" },
			 	"false" : { "name" : "Off", "value" : "false" }
			})

		+select('general', 'animations', 'Animations', config.general.animations,
			{
				"bouncy" : { "name" : "Bouncy", "value" : "bouncy" },
				"perspective" : { "name" : "Perspective (INOP)", "value" : "perspective" },
			 	"slides" : { "name" : "Slides", "value" : "slides" },
			 	"fades" : { "name" : "Fades", "value" : "fades" },
			 	"character" : { "name" : "Character (INOP)", "value" : "character" }
			})

		fieldset(name="animation_length")
			label.control-label Animation length (ms)
			input.form-control(name="animation_length", value=config.general.animation_length)

		+select('general', 'preview', 'Preview mode', config.general.preview,
			{
				"true" : { "name" : "On", "value" : "true" },
			 	"false" : { "name" : "Off", "value" : "false" }
			})

		hr
		button.btn.btn-primary(type='submit') Update